.customTheme {
  color:#ffffff !important;
  background-color: #535fd7 !important;
  /* &.place-top {
  &:after {
  border-top-color: orange !important;
  border-top-style: solid !important;
  border-top-width: 6px !important;
  }
  } */
 }